.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color) !important;
    color: var(--tg-theme-button-text-color)!important;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px
}
.added {
    background-color: rgb(130, 197, 103) !important;
}